aioredis==1.2.0
asgi-redis==1.4.3
asgiref==3.1.4
asn1crypto==0.24.0
astroid==2.2.5
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.7.1
Automat==0.7.0
beautifulsoup4==4.6.0
certifi==2019.6.16
cffi==1.12.3
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
Django==2.2.27
django-modelcluster==4.4
django-redis==4.10.0
django-taggit==1.1.0
django-treebeard==4.3
django-webpack-loader==0.6.0
djangorestframework==3.9.4
draftjs-exporter==2.1.6
hiredis==1.0.0
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
msgpack==0.6.1
msgpack-python==0.5.6
packaging==19.0
Pillow==6.1.0
pip-review==1.0
pip-tools==3.8.0
psycopg2==2.8.3
psycopg2-binary==2.8.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyHamcrest==1.9.0
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
pypiwin32==223
pytz==2019.1
pywin32==224
redis==3.2.1
requests==2.22.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
Twisted==19.2.1
txaio==18.8.1
typed-ast==1.4.0
Unidecode==1.1.1
urllib3==1.25.3
wagtail==2.5.1
webencodings==0.5.1
Willow==1.1
wrapt==1.11.2
zope.interface==4.6.0
